.wrapper {
  width: 100%;
}

@media (min-width: 1024px) {
  .wrapper {
    max-width: 960px;
    margin-inline: auto;
  }
}

.pokedex {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: minmax(0, 1.5fr) minmax(0, 1fr);
}

@media (min-width: 640px) {
  .pokedex {
    gap: 2rem;
  }
}

@media (min-width: 1024px) {
  .pokedex {
    gap: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .pokedex {
    grid-template-columns: 1fr;
  }
}
